$p-c: #38215A;
$s-c: black;
$a-c: #C9F31D;
$h1-f-s: clamp(30px, 23.5714px + 2.0089vw, 75px);
$h2-f-s: clamp(20px, 17.1429px + 0.8929vw, 40px);
$h3-f-s: 20px;
$p-f-s: clamp(15px, 14.5714px + 0.1339vw, 18px);
$g-b-c: #212121;